.sign-up{
    background-image: url(./images/banner_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.sign-up-link{
    background-color: #ffffff;
    color: #91c1cf;
    border-radius: 35px;
}
.sign-up-link:hover{
    color: #ffffff;
    background-color: #91c1cf;
}
.form-color{
    background-color: #f8f8f8;
}
.form-section{
    background-color: #91c1cf;
}
.thanks-body{
    height: 100vh;
}